{% assign block_id = 'statistic-' | append: block.id %}

<div 
  id="{{ block_id }}"
  class="statistic-item 
    {% if section.settings.layout == 'horizontal' %}statistic-item--horizontal{% else %}statistic-item--vertical{% endif %}
    {% if section.settings.text_alignment %}text-{{ section.settings.text_alignment }}{% endif %}"
  {{ block.shopify_attributes }}
>
  <!-- Top Border -->
  <div class="statistic-border"></div>
  
  <!-- Content -->
  <div class="statistic-content">
    {% if block.settings.primary_text != blank %}
      <div class="statistic-primary" style="{% if block.settings.primary_text_color %}color: {{ block.settings.primary_text_color }};{% endif %}">
        {{ block.settings.primary_text }}
      </div>
    {% endif %}
    
    {% if block.settings.secondary_text != blank %}
      <div class="statistic-secondary" style="{% if block.settings.secondary_text_color %}color: {{ block.settings.secondary_text_color }};{% endif %}">
        {{ block.settings.secondary_text }}
      </div>
    {% endif %}
  </div>
</div>
